*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: darkturquoise;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.Title{
    color: white;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    border-bottom: 1px solid rgb(255, 255, 255);
}


.Main{
    margin-top: 20px;
    border: 1px solid blue;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 316px;
    height: 316px;
    background-color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);
    padding: 1px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}


.Main div{
    color: white;
    font-size: 50px;
    padding-top: 10px;
    display: grid;
    justify-items: center;
    border: 1px solid blue;
    border-radius: 5px;
    margin: 2px;
    width: 100px;
    height: 100px;
    background-color: darkturquoise;
}

.Main div:hover{
    background-color: rgba(0, 206, 209, 0.733);
}


.Main div p{
    background: none;
}

.Title p{
    margin-top: 2%;
    color: blue;
    background: none;
    font-size: large;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
}
